#contato{
    width: 100%;
    padding: 200px 10%;
    display: flex;
    background-color: var(--cor_fundo);
    justify-content: space-between; 
    position: relative;
}

@media(max-width: 1200px){
    #contato{
        flex-direction: column;
    }
}

#teclado_contato{
    position: absolute;
    top: 7%;
    right: 30%;
}

#email_contato{
    position: absolute;
    right: 15%;
    bottom: 10%;
}

.contato_conteudo{
    position: relative;
}

.contato_conteudo h1{
    font-size: 78px;
    color: var(--cor_secundaria);
    line-height: 60px;
    margin-bottom: 30px;
}

@media(max-width: 1200px){
    .contato_conteudo h1{
        margin-bottom: 100px;
    }
}

@media(max-width: 800px){
    .contato_conteudo h1{
        font-size: 50px;
        width: 70%;
    }
}

.contato_conteudo h1 span{
    color: var(--cor_principal);
}

.contato_conteudo div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width: 1200px){
    .contato_conteudo div{
        width: 20%;
        position: absolute;
        right: 3%;
        top: 0px;
    }
}

@media(max-width: 1000px){
    .contato_conteudo div{
        visibility: hidden;
    }
}

@media(max-width: 800px){
    .contato_conteudo div{
        width: 40%;
        visibility: visible;
    }
}

.contato_conteudo div img:nth-child(1){
    width: 30%;
}

.contato_conteudo div img:nth-child(2){
    width: 60%;
}

#formulario{
    width: 700px;
    min-width: 500px;
    height: 500px;
    margin-left: 80px;
}

@media(max-width: 1200px){
    #formulario{
        margin-left: 0px;
        width: 100%;
    }
}

@media(max-width: 600px){
    #formulario{
        min-width: 100%;
    }
}

.form_linha1{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    gap: 30px; 
}

@media(max-width: 480px){
    .form_linha1{
      flex-direction: column;
      gap: 15px;
    }
  }

.form_linha1 div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media(max-width: 480px){
    .form_linha1 div{
      width: 100%;
    }
  }

.form_linha1 label, .form_linha2 label{
    color: var(--cor_secundaria);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media(max-width:480px){
    .form_linha1 label, .form_linha2 label{
      font-size: 22px; 
    }
  }

.form_linha1 input{
    width: 100%;
    height: 60px;
    background-color: var(--cor_cinza);
    border-radius: 16px;
    border: none; 
    outline: none; 
    color: var(--cor_secundaria_50);
    font-size: 20px;
    font-weight: bold;
    padding: 0px 7%; 
}

.form_linha2{
    display: flex;
    flex-direction: column;
}

.form_linha2 textarea{
    width: 100%;
    max-width: 110%;
    min-width: 80%;
    height: 280px;
    max-height: 300px;
    min-height: 260px;
    background-color: var(--cor_cinza);
    color: var(--cor_secundaria_50);
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 3%;
}

.form_linha2 button{
    color: var(--cor_secundaria);
    background-color: var(--cor_principal);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    width: 200px;
    margin-top: 20px;
    border: none;
    outline: none;
}

.form_linha2 button:hover{
    background-color: var(--cor_cinza);
    box-shadow: 4px 4px 4px #000000 ;
}
